name: test golang code
on:
    push:
        branches: [main]
jobs:
    run-go-test:
        name: run-go-test
        runs-on: ubuntu-latest
        steps:
        -   name: checkout code
            uses: actions/checkout@v5
        
        -   name: set up golang
            uses: actions/setup-go@v5
            with:
                go-version: 1.23.4

        -   name: run go mod tidy
            run: |
                go install gotest.tools/gotestsum@v1.12.0
                go mod tidy

        -   name: run go test
            run: |
                gotestsum --junitfile junit.xml -- -race -coverprofile=coverage.out ./...
                go tool cover -html=coverage.out -o coverage.html
                go tool cover -func=coverage.out

        -   name: upload test file
            uses: actions/upload-artifact@v4
            if: always()
            with:
                name: test-results
                path: |
                    junit.xml
                    coverage.out
                    coverage.html
                retention-days: 30